#outer-box {
	padding: 1em;
	border-radius: 15px;
	font-family: "NotoSans Nerd Font";
	font-size: 1.1em;
}

#input {
	margin-bottom: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#entry {
	padding-top: 0.45em;
	padding-bottom: 0.45em
}

#text {
	margin-left: 10px;
}