"$schema" = "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json"
version = 3
final_space = true

[[blocks]]
  type = 'prompt'
  alignment = 'left'

  [[blocks.segments]]
    type = 'path'
    style = 'plain'
    foreground = 'lightBlue'
    background = 'transparent'
    template = '{{ .Path }}'

    [blocks.segments.properties]
      style = 'full'

  [[blocks.segments]]
    type = 'git'
    style = 'plain'
    foreground = 'darkGray'
    background = 'transparent'
    template = '{{ .HEAD }}<yellow>{{ if or (.Working.Changed) (.Staging.Changed) }}*{{ end }}</><red>{{ if gt .Behind 0 }}↓{{ end }}{{ if gt .Ahead 0 }}↑{{ end }}</>'

    [blocks.segments.properties]
      branch_icon = ''
      fetch_status = true

[[blocks]]
  type = 'rprompt'
  overflow = 'hidden'

  [[blocks.segments]]
    type = 'executiontime'
    style = 'plain'
    foreground = 'cyan'
    background = 'transparent'
    template = '{{ .FormattedMs }}'

    [blocks.segmensts.properties]
      threshold = 5000

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    type = 'text'
    style = 'plain'
    foreground_templates = [
      "{{ if gt .Code 0 }}red{{ end }}",
      "{{ if eq .Code 0 }}magenta{{ end }}",
    ]
    background = 'transparent'
    template = '❯'

[secondary_prompt]
  foreground = 'magenta'
  background = 'transparent'
  template = '❯❯'

[transient_prompt]
  foreground_templates = [
    "{ {if gt .Code 0 }}red{{ end }}",
    "{{ if eq .Code 0 }}magenta{{ end }}",
  ]
  background = 'transparent'
  template = '❯ '
  newline = true
